<p>
  <mat-toolbar color="primary">
    <span>Axity CAP Angular</span>
    <span class="example-spacer"></span>
    <button routerLink="/home" mat-flat-button aria-label="Example icon-button with heart icon" color="primary">
      Home
    </button>
    <button routerLink="/about" mat-flat-button aria-label="Example icon-button with share icon">
     About
    </button>
    <button routerLink="/users" mat-flat-button aria-label="Example icon-button with share icon">
      Users
    </button>
    <button routerLink="/computers" mat-flat-button aria-label="Example icon-button with share icon">
      Computers
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
